:root {
    --card-background: hsl(0, 0%, 100%);
    --result-text:  hsl(241, 100%, 89%);
    --result-alt-text: hsl(221, 100%, 96%);
    --summary-text: hsla(0, 0%, 0%, 0.8);
    --light-red: hsl(0, 100%, 67%);
    --light-yellow: hsl(39, 100%, 56%);
    --light-green: hsl(166, 100%, 37%);
    --light-blue: hsl(234, 85%, 45%);
}

body {
    background-color: hsl(221, 100%, 96%);
    margin: 0; /* for mobile only */
    font-family: "Hanken Grotesk", sans-serif;
}

h1 {
    font-size: 100%;
    margin: 5%;
}

h2 {
    margin-bottom: 2%;
}

p {
    font-size: 18px;
}

.results-summary-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--card-background);
    min-height: 100vh; 
}

/* --- Results Section --- */

.results-container {
    background: linear-gradient(to bottom, hsla(252, 100%, 67%, 1), hsla(241, 81%, 54%, 1));
    padding: 4px; /* aka imitation border thickness */
    border-bottom-left-radius: 8%; 
    border-bottom-right-radius: 8%; 
}

.results-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 8%; 
    border-bottom-right-radius: 8%; 
    color: var(--result-text);
    #score-number, h2 {
        color: var(--result-alt-text);
    }
}

.score-circle {
    background: radial-gradient(circle at center top,  hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    padding: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score-number-and-total {
    display: flex;
    flex-direction: column;
}

#score-number {
    font-size: 300%;
    font-weight: bold;
    margin-top: 25%;
} 

.score-total {
    margin-top: 0%;
    font-weight: 500;
    font-size: 14px;
}

#score-comparison-text {
    margin: 5%;
    margin-top: 0;
    margin-bottom: 10%;
}

/* --- Summary Section --- */

.summary-container {
    background-color: var(--card-background);
    border-radius: 8%;
    min-height: 50vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

#summary-title {
    color: var(--summary-text);
}

.all-sub-sections {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.75rem;
    font-weight: bold;
}

.section-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
}

.section-container.red {
    background-color: hsla(0, 100%, 67%, 0.1);
    .reaction {
        color: var(--light-red);
    }
}

.section-container.yellow {
    background-color: hsl(39, 100%, 56%, 0.1);
    .memory {
        color: var(--light-yellow);
    }
}

.section-container.green {
    background-color: hsl(166, 100%, 37%, 0.1);
    .verbal {
        color: var(--light-green);
    }
}

.section-container.blue {
    background-color: hsl(234, 85%, 45%, 0.1);
    .visual {
        color: var(--light-blue);
    }
}

.type-and-icon {
    display: flex;
}

.summary-icons {
    padding-right: 0.5rem;
}

.type-score {
    color: rgba(0, 0, 0, 0.3);
}

.sub-section-score {
    color: var(--summary-text);
}

.button-container {
    flex-shrink: 1;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    display: none; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media (min-width: 768px) {
    .results-summary-container {
      /* Desktop: 2 columns side by side */
      grid-template-columns: 1fr 1fr;
      max-width: 600px;      
      margin: 15% auto;    /* Centers horizontally + pushes it down the page */      
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  /* Cardify */
      border-radius: 8%;
      min-height: 0; 
    }
    .results-container{
        border-radius: 8%;
    }
    .results-content-container{
        border-radius: 8%;
    }
    .summary-container {
        min-height: 0vh;
    }
    .attribution { 
        display: block;
}
  }